@import "bootstrap/scss/bootstrap";
@import "./projects.scss";
@import "./blog.scss";
@import "./varible";
@import "./about.scss";
@import "./contact.scss";

$main-color: #ff7766;
$custom-color: #eee;

@font-face {
     font-family: cairo;
     src: url(../fonts/Cairo-Regular.ttf);
}
body {
     font-family: "cairo", 'Courier New', Courier, monospace;
}
